*{
     box-sizing: border-box;
}

.container{
    width: 100%;
    height: 300px;
    border: solid red 2px;
    /* always put below code to parent code, like container*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* if flex direction: column; is used, justify and align item switch function */

}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}